<%- include('../partials/seeker_navbar.ejs') %>

<div class="page_title">
    <img src="/img/line.png" class="page_title_line">
    <span class="page_title_text">JOB SEARCH</span>
</div>

<%- include('../partials/search_bar.ejs') %>
<%- include('../partials/jobs_table.ejs') %>