<%- include('../partials/seeker_navbar.ejs') %>

<div class="page_title">
    <img src="/img/line.png" class="page_title_line">
    <span class="page_title_text">JOB SEARCH</span>
</div>

<%- include('../partials/search_bar.ejs') %>

<% if (postings.length > 0) { %>
    <%- include('../partials/jobs_table.ejs') %>    
<% } else { %>
    <div class="page_err_text">
        <img src="/img/leaf.png" style ="width: 100px; height: auto;"><br>
        <span >No jobs found sorry.</span><br>
    </div>
<% } %>
