<%- include('../partials/employer_navbar.ejs') %>

<div class="page_title">
    <img src="/img/line.png" class="page_title_line">
    <span class="page_title_text">POSTINGS</span>
</div>

<%- include('../partials/postings_table.ejs') %>