<%- include('./partials/index_navbar.ejs') %>  

<div class="poster">
    <div class="poster_content">
        <div class="poster_caption">
            <p>The place to find and hire the right people for the job.</p> 
        </div>
    </div>
    <img src="\img\factory_worker.png" alt="factory_worker">
    
</div>
