<nav>
    <h4>DOMAIN</h4>
    <ul>
        LOGIN
        <li><a href="/">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>


<form action="/" method="post">

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="user_email" required><br>

    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd" required><br><br>

    <button type="submit">Login</button>

</form>