@import 'variables.css';

select {
    min-width: 100px;
}

input, textarea, select{
    
    padding: 0 8px;
    vertical-align: middle;
    border-radius: 2px;
    min-height: 36px;
    background-color: #ffffff;
    border: 1px solid rgba(40, 32, 26, 0.3);
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;

}

button {
    cursor: pointer;
    background-color: black;
    border: 2px solid #000000;
    color: white;
    border-radius: 1px;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 10px;
    text-align:center;
    margin-right: 10px;
}

button:hover {
    background: #ffffff; 
    color: #000000;
}

.page_title_text {
    font-family: 'Almarai';
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 4px;
    margin-left: 20px;
}

.page_err_text {
    position: absolute;   
    text-align: center;
    font-family: 'Jost';
    font-weight: 300;
    font-size: 2em;
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%); 
    width: 100%;
    text-align: center; 
}
.page_title {
    display: flex;
    align-items: center;
}


.page_title_line {
    width: 150px; 
    height: 100px;
    margin-left: 20px;
}

.full_page_line {
    width: 100%;
    height: 50px;
}

/* =======================================SEARCH BAR=============================================== */

.search_container {
    display: flex;
    font-family: 'Almarai';
    font-weight: 500;
    width: 95%;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

input[type=search]{
    margin-left: 1%;
    outline: 0;
    width: 40%;
    border: 1px solid transparent;
    border-bottom: 1px solid #757575;
}

input[type=search]:focus{
    /* transition: border-bottom 0.2s ease-in-out; */
    border-bottom: 1px solid #000000;
}
input[type=search]:focus::placeholder {
    color: transparent;
}

.search_icon_btn {
    border: 0;
    color: black;
    background-color: transparent;
}


/* =======================================SCROLLBAR=============================================== */
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

/* =======================================PROFILE PAGE============================================ */

.seeker-details {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.employer-details {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.profile_info_section {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 50px; 
}

.profile_info_section p{
    font-family: 'Playfair Display';
    font-size: 1.2rem;
    font-weight: 500;
}
.profile_info_section strong{
    font-family: 'Jost';
    font-weight: 300;
    font-size: 1.1rem;;
}

.profile_info_section input{
    
    padding: 0 8px;
    vertical-align: middle;
    border-radius: 2px;
    min-height: 36px;
    background-color: #ffffff;
    border: 1px solid rgba(40, 32, 26, 0.3);
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;

}

#clear-pic-btn, .profile_info_section button{
    
    background:#ffffff;
    color: #000000;
    
}

#clear-pic-btn:hover, .profile_info_section button:hover {
    background: #000000; 
    color: #ffffff;
}

.profile_picture_section {
    flex-shrink: 0; 
    margin-right: 20px;
    overflow: hidden; 
}


.builder_form{
    font-family: 'Jost';
    margin-left: 20px;
}

.builder_btn{
    margin-left: 20px;
}

.builder_btn_container{
    margin-left: 20px; 
    font-family: 'Jost'; 
    font-size: 1.8em; 
    text-align: center;
}


/* ============================================EDIT MODE========================================== */

.profile_pic_container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid black;
}

#profile_pic_val{
    display: block;
    width: 100%;
    height: 100%;
}


.pic_edit_overlay{
    opacity: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
}

.pic_edit_overlay:hover{
    opacity: 1;
}

.pic_edit_overlay_text{
    font-size: bold;
    font-size: 1.5em;
}

.edit_pic_icon {
    width: 20%; 
    height: auto;
}

.clear_btn{
    margin-left: 10px;
}



/* ==========================================NAV BAR=============================================== */

.user_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.nav_center,
.nav_left {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-family: Inter;
    cursor: pointer;
    font-size: 1.8em;
}

.logo a {
    text-decoration: none;
    color: #000000;
}

.nav_center a,
.nav_left a {
    text-decoration: none;
    color: #686868;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Jost;
    font-weight: 300;
    font-size: 1.3em;
    cursor: pointer;
}

.notif_icon{
    width: 25px;
    height: auto;
    background-size: cover; 
}

.notif_link:hover .notif_icon {
    transition: background-image 0.6s; 
    background-image: url('/img/notif_bell_hover.png'); /* Change to the hover image */
  }

.user_icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.nav_center a:hover,
.nav_left a:hover {
    color: black; 
    font-weight: 400;
    transition: font-weight 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: underline;
}


/* ==========================================DROP DOWN=============================================== */

.user_dropdown {
    position: relative; 
}

.user_dropdown_trigger {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown_content {
    display: none;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 100%; /* Position the dropdown right below the trigger area */
    left: -20px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown_content a{
    font-family: 'Jost';
    font-weight: 300;
    font-size: 1.1em;
    padding: 5px;
    display: block;
}

.dropdown_content_item {
    font-family: 'Jost';
    font-weight: 300;
    display: flex;
    font-size: 1.1em;
    padding: 5px;
    align-items: center; 
    justify-content: space-between; 
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown_content_item img{
    margin-left: 15px;
    width: 25px; 
    height: auto
}

.user_dropdown_trigger:hover + .dropdown_content {
    display: block;
}

.dropdown_trigger:hover + .dropdown_content {
    display: block;
}

.dropdown_content_item:hover {
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}


.dropdown_content:hover {
    display: block;
}


.filter_dropdown_content{
    left: -50%;
}

.postings_filter_dropdown_content{
    left: -50px;
}

.dropdown_filter_item {
    font-family: 'Jost';
    font-weight: 300;
    display: flex;
    font-size: 1.1em;
    padding: 5px;
    align-items: center; 
    justify-content: left; 
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
}

.dropdown_filter_item input:hover {
    cursor: pointer;
}


/* ===================================JOB CREATE==================================== */

.job_form {
    margin-left: 20px;
}
.pay_form_container{
    display: flex;
    align-items: flex-end;
}

.pay_form_container div{
    margin-right: 10px;
}

.pay_form_container input{
    margin-top: 5px;
}

.benefits_check {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px; 
}
.benefits_check span {
    margin-right: 10px;
    margin-bottom: 5px;
}

.single_question_container{
    display: flex;
}
.single_question_container div{
    margin-right: 10px;
}


/* ===================================JOB/POSTINGS TABLE======================================= */

.table_filter_icon{
    margin: auto;
    width: 20px;
    height: 20px;
    background-image: url('/img/filter.png');
    background-size: contain;
    cursor: pointer; 
}

.table_filter_icon:hover {
    background-image: url('/img/filter_hover.png'); 
    transition: background-image 0.2s ease-in-out;
}

.table_expand_icon{
    margin: auto;
    width: 20px;
    height: 20px;
    background-image: url('/img/table_arrow_down.png');
    background-size: contain;
    cursor: pointer; 
}


table {
    font-family: 'Jost';
    font-weight: 400;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid var(--table_border);
    background-color: var(--table_main);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: var(--table_main);
    font-weight: 500;
}

td, th {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

tr:nth-child(even) {
    background-color: var(--table_alt);
}

table .hidden_row { 
    display: none; 
} 

.table_filter-header {
    text-align: center;
}

.hidden_row_flex_box {
    display:flex;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
    margin-top: 20px;
}

.hidden_row_title {
    margin-bottom: 5px;
    text-decoration: underline;
}


.hidden_row_info{
    margin-right: 10%;
}

.hidden_row_content {
    margin-bottom: 10px;
}

.table_hidden_btn {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.table_hidden_btn button {
    padding: 5px 30px;
    margin-right: 0px;
}

.table_hidden_edit_btn, .table_hidden_save_btn {
    border: 2px solid var(--orange);
    background: var(--orange);
    color: #ffffff;
}

.table_hidden_right_side {
    margin-right: 20px;
}


.table_hidden_employer_btn, .table_hidden_applicant_btn {
    width: 100%;
}

.table_hidden_applicant_btn {
    background-color: var(--green);
    border: 2px solid var(--green);
}

.table_hidden_edit_btn:hover, .table_hidden_view_btn:hover {
    background: #ffffff; 
    color: #000000;
}

.table_hidden_clear_btn {
    background-color: var(--red);
}

/* ===================================JOB POST VIEW======================================= */

.job_post_header {
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-right: 20px;
}

.post_container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 10px;
    align-items: flex-start;
    
}

.post_info {
    margin-right: 10%;
}

.post_info, .post_create_status{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 1.2em;
}

.post_info span, .post_create_status span {
    font-size: 1.1rem;
    font-family: 'Jost';
    font-weight: 300;
}

.post_info div {
    margin-bottom: 20px;
}

.post_btn {
    display: flex;
}

.post_btn button{
    padding: 5px 20px;
}

.post_delete_btn {
    background: var(--red);
    color: #ffffff;
}


/* ==================================================MODAL POST DELETE=============================================== */

.modal{
    display: none;
    min-width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 1px;
    z-index: 1000;
    background-color: white;
    font-family: 'Jost';
    
}

.delete_post_modal {
    width: 300px;
    max-width: 50%;
}

.modal_header, .delete_post_header {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_header_title{
    margin-left: 10px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 1.2rem;
}

.modal_header_close {
    border: 0;
    outline: 0;
    background: none;
    color: black;
    font-size: 1.5rem;
}

.modal_body, .delete_post_body {
    padding: 0px 10px;
    padding-bottom: 10px;
}

.modal_overlay{
    opacity: 0;
    pointer-events: none; /* Allow click events when overlay is off*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal_overlay_active {
    opacity: 1;
    pointer-events: all;
}

.delete_confirm_btn {
    background-color: var(--red);
}


/* ==================================================MODAL CREATE APPLICATION=============================================== */


.create_application_modal {
    /* width: 90%; */
    min-width: 50%;
    max-height: 80%;
    padding: 20px;
     /* max-width: 70%; */
     overflow-y: auto;
}

.create_application_btn, .table_hidden_applied_btn, .table_hidden_saved_btn {
    border: 2px solid var(--green);
    background-color: var(--green);
}

.table_hidden_applied_btn {
    cursor: not-allowed;  
    pointer-events: none;
}

.create_application_modal textarea {
    width: 100%;
    box-sizing: border-box; 
    padding: 10px;       
    margin-bottom: 10px;   
}


/* ==================================================APPLICANT TABLE=============================================== */

.table_hidden_review_btn {
    border: 2px solid var(--orange);
    background-color: var(--orange);
}

.status_label {
    padding: 2px 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.declined, .closed {
    background-color: var(--red);
}

.reviewing {
    background-color: var(--orange);
}

.accepted, .open {
    background-color: var(--green);
}


/* ===================================================MODEL DELETE APPLICATION=================================== */

.modal_application_delete_btn {
    background-color: var(--red);
}


/* ===================================================ANALYTICS=================================== */


.analytics_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.anaytics_info {
    flex: 0 30%;
    margin-bottom: 4%; 
}

.stat_container{
    display:flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    margin-bottom: 20px;
}


.analytics_stat_box{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-family: 'Jost';
    border-radius: 5px;
    padding: 20px;
}

.analytics_stat_title{
    color: rgb(129, 129, 129);
}

.analytics_stat_content{
    text-align: center;
    font-size: 2em;
}


.chart_filters{
    margin-top: 10px;
}


.chart_filters button{
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.chart_filters button:hover {
    background: #000000; 
    color: #ffffff;
}

.chart_filters .filter_selected{
    cursor: default;
    background: #000000; 
    color: #ffffff;
}
