<footer>
    <div class="footer-content">
        <div class="logo"><h1>GENPLOYED</h1></div>
        <div>Muhammed Jahanzeb Abro<br>2023-2024</div>
    </div>
</footer>

<style>

    footer {
        margin-top: 50px;
        bottom: 0;
        left:0;
        font-family: 'Jost';
        text-align: center;
        padding: 10px 50px;
        background-color: rgb(7, 7, 7);
        color: white;
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

</style>