<nav>
    <div class="logo">
        <h1>GENPLOYED</h1>
    </div>
    <div class="nav_leftside">
        <a href="/" >About</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div> 
</nav>