<div class="search_container">
    
    <div style="width: 90%;">
        <form action="/user/job/<%=search_endpoint%>" method="GET">
            <label for="search"></label>
            <input type="search" id="search" name="search" placeholder="job title, description, company, skills" value="<%= filters.search || '' %>">
            <button class="search_icon_btn" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="total">
        <span>Total: <%= table_total %></span>
    </div>
</div><br>
