<!-- NAVBAR -->
<% if(user_type === 'seeker') { %>
    <%- include('../partials/seeker_navbar.ejs') %>
<% } %>

<% if(user_type === 'employer') { %>
    <%- include('../partials/employer_navbar.ejs') %>
<% } %>


<h1>User Dashboard</h1>