<!-- NAVBAR -->
<% if(user_type === 'seeker') { %>
    <%- include('../partials/seeker_navbar.ejs') %>
<% } %>

<% if(user_type === 'employer') { %>
    <%- include('../partials/employer_navbar.ejs') %>
<% } %>


<div class="page_title">
    <img src="/img/line.png" class="page_title_line">
    <span class="page_title_text">DASHBOARD</span>
</div>