<%- include('../partials/employer_navbar.ejs') %>

<div class="page_title">
    <img src="/img/line.png" class="page_title_line">
    <span class="page_title_text">PROFILE BUILDER</span>
</div>


<form action="/user/profile/builder/employer" method="POST" id="employer_builder_form" class="builder_form" enctype="multipart/form-data">

    <label for="comp_name">Company Name*:</label><br>
    <input type="text" id="comp_name" name="comp_name" maxlength="50"><br>
    <span  id="comp_name_err" style="color: red;"></span><br>


    <label for="comp_size">Company Size:</label><br>
    <input type="text" id="comp_size" name="comp_size" maxlength="50" placeholder="(In terms of personnel)"><br>
    <span  id="comp_size_err" style="color: red;"></span><br>


    <label for="bio">Bio:</label><br>
    <textarea id="bio" name="bio" rows="4" cols="50" maxlength="800" 
    placeholder="Let others know more about what the COMPANY has to offer with a short description!"></textarea><br>
    <span id="bio_err" style="color: red;"></span><br><br>


    <label for="website">Website:</label><br>
    <input type="text" id="website" name="website" maxlength="50" placeholder="(Place an url/link here)"><br>
    <span  id="website_err" style="color: red;"></span><br>


    <label for="profile_pic_file">Choose a profile picture:</label><br>
    <input type="file" id="profile_pic" name="profile_pic_file" accept="image/png, image/jpeg, image/jpg"><br>
    <span id="pic_err" style="color: red;"></span><br><br>
    

    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>
    <span  id="address_err" style="color: red;"></span><br>


    <label for="postcode">Postcode:</label><br>
    <input type="text" id="postcode" name="postcode"><br>
    <span  id="postcode_err" style="color: red;"></span><br><br>


    <label for="ct_phone">Contact Number:</label><br>
    <input type="tel" id="ct_phone" name="ct_phone"><br>
    <span  id="ct_phone_err" style="color: red;"></span><br>


    <label for="ct_email">Contact Email:</label><br>
    <input type="email" id="ct_email" name="ct_email"><br>
    <span  id="ct_email_err" style="color: red;"></span><br><br>


    <label for="industry">Industry:</label><br>
    <select id="industry" name="industry">
        <option value="">None</option>
        <option value="IT">Information Technology</option>
        <option value="MED">Medicine</option>
        <option value="ECMM">Ecommerce</option>
        <option value="CAR">Car Dealership</option>
        <option value="FIN">Finance</option>
        <option value="EDU">Education</option>
        <option value="MAN">Manufacturing</option>
        <option value="TRA">Transportation</option>
        <option value="HOS">Hospitality</option>
        <option value="ART">Art and Design</option>
        <option value="ENT">Entertainment</option>
        <option value="AGR">Agriculture</option>
        <option value="CON">Construction</option>
        <option value="PHA">Pharmaceuticals</option>
        <option value="TEL">Telecommunications</option>
        <option value="RST">Restaurant</option>
        <option value="COS">Cosmetics</option>
        <option value="FIT">Fitness</option>
        <option value="TRV">Travel</option>
        <option value="ADV">Advertising</option>
    </select><br>
    <span  id="industry_err" style="color: red;"></span><br>


    <button type="submit" value="Submit">Save Changes</button>
    <a href="/user/profile"><button type="button">Cancel</button></a><br><br>
</form>

<script type="module" src="/scripts/employer_build_utils.js"></script>