Profile Page<br>

<br><button type="button" class="builder_btn">Setup Profile</button>


<form action="/profile/builder" method="POST " class="builder_form" style="display: none;">

    PERSONAL<br><br>
    <label for="f_name">First Name:</label><br>
    <input type="text" id="f_name" name="f_name" required><br>

    <label for="l_name">Last Name:</label><br>
    <input type="text" id="l_name" name="l_name" required><br>

    <label for="d_o_b">Date of Birth:</label><br>
    <input type="date" id="d_o_b" name="d_o_b"><br>

    <label for="bio">Bio:</label><br>
    <textarea id="bio" name="bio" rows="4" cols="50">Let others know more about YOU with a short description of what you're all about!
    </textarea><br><br>


    

    LOCATION<br><br>
    <label for="country">Country:</label><br>
    <select id="country" name="country">
        <option value="UG">UGANDA</option>
        <option value="PAK">PAKISTAN</option>
        <option value="TUR">TURKEY</option>
    </select><br>

    <label for="postcode">Postcode:</label><br>
    <input type="text" id="postcode" name="postcode"><br><br>


    CONTACT<br><br>
    <label for="ct_phone">Contact Number:</label><br>
    <input type="tel" id="ct_phone" name="ct_phone"><br>

    <label for="ct_email">Contact Email:</label><br>
    <input type="email" id="ct_email" name="ct_email"><br><br>


    PREFERENCES<br><br>
    <label for="industry">Industry:</label><br>
    <select id="industry" name="industry">
        <option value="IT">Information Technology</option>
        <option value="MED">Medicine</option>
        <option value="ECMM">Ecommerce</option>
        <option value="CAR">Car Dealership</option>
  </select><br><br>


    <button type="submit">Save Changes</button>
    
</form>

<script src="/scripts/user_profile.js"></script>