<%- include('../partials/seeker_navbar.ejs') %>

<div class="page_title">
    <img src="/img/line.png" class="page_title_line">
    <span class="page_title_text">PROFILE BUILDER</span>
</div>

<form action="/user/profile/builder/seeker" method="POST" id="seeker_builder_form" class="builder_form" enctype="multipart/form-data">

    <label for="f_name">First Name*:</label><br>
    <input type="text" id="f_name" name="f_name" maxlength="50"><br>
    <span  id="f_name_err" style="color: red;"></span><br>

    <label for="l_name">Last Name*:</label><br>
    <input type="text" id="l_name" name="l_name" maxlength="50"><br>
    <span  id="l_name_err" style="color: red;"></span><br>

    <label for="gender">Gender:</label><br>
    <select id="gender" name="gender">
        <option value="">Select a gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select><br>
    <span  id="gender_err" style="color: red;"></span><br><br>

    <label for="d_o_b">Date of Birth*:</label><br>
    <input type="date" id="d_o_b" name="d_o_b"><br>
    <span  id="d_o_b_err" style="color: red;"></span><br>

    <label for="bio">Bio:</label><br>
    <textarea id="bio" name="bio" rows="4" cols="50" maxlength="800" 
    placeholder="Let others know more about YOU with a short description of what you're all about!"></textarea><br>
    <span id="bio_err" style="color: red;"></span><br><br>

    <label for="cv_file">Upload Your CV (pdf):</label><br>
    <input type="file" id="cv" name="cv_file" accept=".pdf"><br>
    <span id="cv_err" style="color: red;"></span><br><br>

    <label for="profile_pic_file">Choose a profile picture:</label><br>
    <input type="file" id="profile_pic" name="profile_pic_file" accept="image/png, image/jpeg, image/jpg"><br>
    <span id="pic_err" style="color: red;"></span><br><br>
    

    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>
    <span  id="address_err" style="color: red;"></span><br>


    <label for="postcode">Postcode:</label><br>
    <input type="text" id="postcode" name="postcode"><br>
    <span  id="postcode_err" style="color: red;"></span><br><br>



    <label for="ct_phone">Contact Number:</label><br>
    <input type="tel" id="ct_phone" name="ct_phone"><br>
    <span  id="ct_phone_err" style="color: red;"></span><br>


    <label for="ct_email">Contact Email:</label><br>
    <input type="email" id="ct_email" name="ct_email"><br>
    <span  id="ct_email_err" style="color: red;"></span><br><br>


    <label for="industry">Industry:</label><br>
    <select id="industry" name="industry">
        <option value="">None</option>
        <option value="IT">Information Technology</option>
        <option value="MED">Medicine</option>
        <option value="ECMM">Ecommerce</option>
        <option value="CAR">Car Dealership</option>
        <option value="FIN">Finance</option>
        <option value="EDU">Education</option>
        <option value="MAN">Manufacturing</option>
        <option value="TRA">Transportation</option>
        <option value="HOS">Hospitality</option>
        <option value="ART">Art and Design</option>
        <option value="ENT">Entertainment</option>
        <option value="AGR">Agriculture</option>
        <option value="CON">Construction</option>
        <option value="PHA">Pharmaceuticals</option>
        <option value="TEL">Telecommunications</option>
        <option value="RST">Restaurant</option>
        <option value="COS">Cosmetics</option>
        <option value="FIT">Fitness</option>
        <option value="TRV">Travel</option>
        <option value="ADV">Advertising</option>
    </select><br>
    <span  id="industry_err" style="color: red;"></span><br><br>
    
    <p>Work Status:</p>
    <div id="work_state">
        <input type="radio" id="ready_to_work" name="work_status" value="true" checked>
        <label for="ready_to_work">Ready to Work</label><br>
        <input type="radio" id="not_ready_to_work" name="work_status" value="false">
        <label for="not_ready_to_work">Not Ready to Work</label><br>
    </div><br>
    <span  id="work_status_err" style="color: red;"></span><br>


    <button type="submit" value="Submit">Save Changes</button>
    <a href="/user/profile"><button type="button">Cancel</button></a><br><br>
</form>

<script type="module" src="/scripts/seeker_build_utils.js"></script>